body{
    box-sizing: content-box;
    margin: 0;
    padding: 0;

}
/* Inicia Estilos del Header */
header {

    width: 100%;
    height: 40px;
    background-color: rgb(249, 246, 237);


}

header img {
    width: 200px;
    height: 30px;
    top: 5px;
    position: relative;
    left: 10px;
    color: white;
}

.header-search {

    width: 30%;
    display: inline-block;
    height: 40px;
    float: right;
}

.header-search input {
    position: relative;
    left: 50%;
    top: 10px;
}

.header-search i {
    position: relative;
    left: 88px;
    top: 6px;
    opacity: 0.6;
    transform: rotateY(180deg);
}

.header-logo {
    position: absolute;
    width: 40%;
    height: 40px;
    display: inline-block;
}

.header-line-style {

    background-color: rgb(251, 200, 82);
    width: 100%;
    height: 1.5%;
    position: absolute;
    top: 6%;
    opacity: 0.8;
}

/* Fin de Estilos del Header */

/* Inicio Estilos de la Barra de Navegacion Fija */

nav {
    width: 8%;
    height: 595px;
    background-color:  rgb(249, 246, 237);
    position: relative;
    bottom: 8px;

}

li img {
    position: relative;
    width: 90px;
    height: 90px;
    margin: 25px;
    top: 20px;
    right: 15px;
    opacity: 0.6;
}

li, a {
    text-decoration: none;
    list-style: none;
}

/* .container-nav {
    border-bottom: 1px solid rgb(187, 188, 174, 0.5);

} */

/* Fin Estilos de la Barra de Navegacion Fija */

/* Inicio Estilo Footer */

footer {
    outline: 1px solid black;
    width: 100%;
    height: 10%;

}

/* Fin Estilo Footer */

/* Inicio Seccion Home */
.main-home {
    display: block;
}

/* .home {
    display: none;
} */

.main-home {
    outline: 1px solid black;
    width: 60%;
    left: 25%;
    position: relative;
    text-align: center;

}



/* Fin de Seccion Home */


/* Inicio de ventana Estudiantes */

#window-student {
    outline: 1px solid black;
    width: 60%;
    left: 25%;
    position: relative;
    text-align: center;
}

/* Fin de ventana Estudiantes */

/*Inicio chart*/
main{
  display: inline-block;
  position: relative;
  left: 250px;
  bottom: 33em;
  width: 80%;
}
hr{
  height: 2px;
  color: black;
}
