body{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
/* Inicia Estilos del Header */
header {

    width: 100%;
    height: 40px;
    background-color: rgb(249, 246, 237);
}

header img {
    width: 200px;
    height: 30px;
    top: 5px;
    position: relative;
    left: 10px;
    color: white;
}

.header-search {

    width: 30%;
    display: inline-block;
    height: 40px;
    float: right;
}

.header-search input {
    position: relative;
    left: 50%;
    top: 10px;
}

.header-search i {
    position: relative;
    left: 88px;
    top: 6px;
    opacity: 0.6;
    transform: rotateY(180deg);
}

.header-logo {
    position: absolute;
    width: 40%;
    height: 40px;
    display: inline-block;
}

.header-line-style {

    background-color: rgb(251, 200, 82);
    width: 100%;
    height: 1.5%;
    position: absolute;
    top: 6%;
    opacity: 0.8;
}

/* Fin de Estilos del Header */

/* Inicio Estilos de la Barra de Navegacion Fija */

nav {
    width: 8%;
    height: 595px;
    background-color:  rgb(249, 246, 237);
    position: relative;
    bottom: 8px;
}

li img {
    position: relative;
    width: 90px;
    height: 90px;
    margin: 25px;
    top: 20px;
    right: 15px;
    opacity: 0.6;
}

li, a {
    text-decoration: none;
    list-style: none;
}

/* .container-nav {
    border-bottom: 1px solid rgb(187, 188, 174, 0.5);

} */

/* Fin Estilos de la Barra de Navegacion Fija */

/* Inicio Estilo Footer */

footer {
    outline: 1px solid black;
    width: 100%;
    height: 10%;
}

/* Fin Estilo Footer */

/* Inicio Seccion Home */
.main-home {
    display: block;
}

/* .home {
    display: none;
} */


.home {
    width: 60%;
    left: 25%;
    position: relative;
    bottom: 37em;
    text-align: center;

}
.home .main-misionContainer {
    margin: 4em 0% 6em ;
}
.home .main-visionContainer{
    margin: 0.25em 0% 6em ;
}
/*Inicio de Quote*/
blockquote {
    font-family: Georgia, serif;
    font-size: 25px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0% 6em ;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    left: 5em;
    color: rgba(74, 74, 74, 0.3);
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: rgba(93, 91, 88, 0.57);
}

blockquote cite {
    color: rgba(#888888, 0.9);
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

/* Fin de Seccion Home */

/* Coach */

.main-sedes-container {
    background-color:rgb(255, 157, 1);
    width: 88%;
    height: 20%;
    position: relative;
    left: 68px;
    bottom: 90px;
    opacity: 0.7;
}
.main-sedes-list {
    outline: 1px solid  rgb(255, 251, 178);
    text-align: center;
    position: relative;
    width: 100px;
    right: 40px;
    color: white;
    text-decoration: none;
}
.main-sedes-list a:hover {
    background-color: beige;
}
.main-sede-AQP-container {
    position: relative;
    left: 100px;
}
.main-sede-CDMX-container {
}
main-sede-LIM-container {
}
main-sede-SCL-container {
}
.main-container-generations {
    position: relative;
    width: 100%;
    left: 100px;
    bottom: 72px;
}

/* Termina coach */
